* {
    margin: 0;
	padding: 0;
}
body {
	font: 12px Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
.clearfix:after {
	content: '';
	clear: both;
	display: table;
}
.clearfix {
	zoom: 1;
}
@font-face {
	font-family: 'iconfont';  /* project id 646885 */
	src: url('//at.alicdn.com/t/font_646885_hn3y3s6b5g17cik9.eot');
	src: url('//at.alicdn.com/t/font_646885_hn3y3s6b5g17cik9.eot?#iefix') format('embedded-opentype'),
	url('//at.alicdn.com/t/font_646885_hn3y3s6b5g17cik9.woff') format('woff'),
	url('//at.alicdn.com/t/font_646885_hn3y3s6b5g17cik9.ttf') format('truetype'),
	url('//at.alicdn.com/t/font_646885_hn3y3s6b5g17cik9.svg#iconfont') format('svg');
}
.hide {
	display: none;
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.site-header {
	background: url('../images/BrowserPreview_tmp.jpg') no-repeat;
	background-size: cover; 
	height: 300px;
	box-shadow: 0 4px 4px #8f8f8f;
}
.site-header-wrapper {
	position: relative;
	margin: 0 auto;
	max-width: 960px;
	padding: 10px 20px;
}
.header-nav {
	height: 48px;
}
.header-nav-icon {
	line-height: 48px;
	float: right;
}
.header-nav-list {
	line-height: 48px;
	float: left;
}
.header-nav-list > li {
	float: left;
	margin-left: 10px;
	padding: 0 10px;
}
.header-nav-list a {
	line-height: 48px;	
	color: rgba(255,255,255,.5);
	font-size: 18px;
	cursor: pointer;
}
.site-header .user {
	font-size: 26px;
	color: #ccc;
	cursor: pointer;
}
.site-header .InUser {
	font-size: 26px;
	color: #ccc;
	cursor: pointer;
}
.site-header .InUser .User-box {
	display: none;
	width: 60px;
	position: absolute;
	right: 0;
	left: auto;
	font-size: 14px;
	border: 0.5px solid #fff;
	line-height: 1.5em;
}
.site-header .InUser .User-box li {
	padding: 6px 10px;
}
.User-box a {
	color: #fff;
}

.site-header .log {
	position: absolute;
	left: 30px;
	padding: 10px;
	margin-top: 180px;
	font-size: 48px;
	font-family: 'Arial';
	color: #fff;
}
body {
	background: #fefefe;
}
.wrapper {
	margin: 0 auto;
	max-width: 1000px;
	margin-bottom: 50px;
}
.wrapper .login {
	position: fixed;
	margin: auto;
	left: 50%;
	/*right: 0;*/
	top: 50%;
	/*bottom: 0;*/
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	
	width: 400px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 8px 5px #ccc;
}
.wrapper .login-title {
	height: 150px;
	background-color: #10182b;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

}
.wrapper .login-title .quit {
	color: #fff;
	font-size: 24px;
	float: right;
	cursor: pointer;
	padding: 5px;
}
.wrapper .login-title h1 {
	color: #fff;
	font-weight: bold;
	font-size: 36px;
	line-height: 150px;
	text-align: center;
}
.wrapper .login-in {
	width: 300px;
	margin: 40px auto;
	text-align: center;


}
.wrapper .login-in input {
	height: 28px;
	width: 280px;
	padding: 5px;
	margin-bottom: 20px;
	border-radius: 5px;
	border-style: none;
	border: 1px solid #ccc;
	font-size: 16px;
	/*font-family: Arial,"黑体";*/
}
.wrapper .login-in input:focus {
	outline: none;
    box-shadow: 0 0 2px #347dfa;
}
.wrapper .login-in .Sign {
	width: 292px;
	height: 40px;
	background-color: #10182b;
	color: #fff;
	font-size: 18px;
	padding: 5px;
 	border-style: none;
 	border-radius: 5px;
 	margin-bottom: 10px;
}
.wrapper .login-in .Register {
	color: #959595;
	font-size: 16px;
	float: right;
	padding: 0 10px;
}
.wrapper .login-in .Register:hover {
	color: #555;
	
}
#sign-in-info,
#sign-up-info {
	color: red;
	text-align: left;
	text-indent: 5px;
	min-height: 15px;
}

/* 文章 */
.wrapper .contents {
	/* height: 300px; */
	margin-top: 30px;
	margin: 30px 40px 0;
	padding: 20px 30px;
	border: 1px solid #ccc;
	box-shadow: 0 4px 4px #8f8f8f;
}
.wrapper .contents p ,
.article_content {
	font-size: 15px;
	line-height: 1.6;
	color: #222;
}
.article_item {
	color: #333;
	font-size: 1.6em;
	display: block;
}
.article_tag span {
	float: left;
	padding: 3px 5px;
	font-size: 14px;
	background-color: rgba(42, 123, 230, 0.3);
}
.article_tag i {
	float: right;
	font-size: 14px;
}