{% extends 'index.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/public/CSS/detail.css">
{% endblock %}
{% block main %}	
<div class="contents">			
    <div class="detail_main">
        <h2 class="detail_title">{{content.title}}</h2>
        <p class="detail_tag">日期：{{content.addTime | date('Y-m-d', -8*60)}} -阅读量：{{content.view}}</p>
        <p class="article_content ellipsis_4">{% autoescape false %}{{ post }}{% endautoescape %}</p>
        <div class="detail_content" id="preview"></div>
    </div>		
</div>

{% endblock %}